'.source.php':
    'print_r':
        'prefix': 'printr'
        'body': 'echo \'<pre>\';\nprint_r(\$$1);\necho \'<pre>\';\nexit;\n'
    'var_dump':
        'prefix': 'vardump'
        'body': 'var_dump(\$$1);\nexit;\n'
    'json':
        'prefix': 'json'
        'body': 'header(\'Content-type: application/json\');\necho json_encode(\$$1);\nexit;\n'
